//tints
$black-tint-80: rgba(0, 0, 0, 0.8);
$black-tint-60: rgba(0,0,0,0.6);
$black-tint-50: rgba(0,0,0,0.5);
$dark-jungle-green-90: rgba(14, 32, 36, 0.9);

//theme
$dark-jungle-green: #0E2024;
$maroon: #CD224C;
$sunglow: #FFC327;
$roman-silver: #859298;
$champagne: #F6EAC9;

//variants
$maroon-lighter: #FF2B5C;
$sunglow-lighter: rgb(255, 226, 154);