
$main-font: 'Open Sans', sans-serif;
$main-font-size: 0.85rem;

//decorative fonts
$amatic: 'Amatic SC', cursive, 'Arial body';
$marker: 'Permanent Marker', cursive, 'Arial Header';
$caveat: 'Caveat', cursive, 'Arial body';
$bangers: 'Bangers', cursive;
$fredoka: 'Fredoka One', cursive;