
$main-font: 'Open Sans', sans-serif; //le peaks
$main-font-size: 0.85rem;

//decorative fonts
$amatic: 'Amatic SC', cursive, 'Arial body'; //skinny
$marker: 'Permanent Marker', cursive, 'Arial Header'; //marker
$caveat: 'Caveat', cursive, 'Arial body'; 
$bangers: 'Bangers', cursive;
$fredoka: 'Fredoka One', cursive;