.text-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
    background-color: white;
    color: black;

    label {
        width: 100%;
        margin: 0;
        padding: 10px;

        .text-input--wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .text-input--field {
                flex-grow: 1;
            }
            .text-input--icon {
                padding: 0 5px;
            }
            input {
                border: none;
            }
            input:focus {
                outline: none;
            }
        }
    }
}