.homepage {
    background-color: white;
    .text-container {
        color: $roman-silver;
        padding: 80px;
    }
    .hero-buttons {
        display: flex;
        .text-button {
            margin-right: 20px;
        }
    }
}