.event-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    margin-bottom: 20px;

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 180px;
        width: 100%;
        background-color: $black-tint-50;

        .event-image {
            height: 100%;
            width: 180px;
        }
        .date {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $sunglow;
            height: 100%;
            font-size: 2rem;
            width: 120px;
            word-wrap: break-word;
            padding: 20px;
            font-family: $marker;
        }
        .details-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            padding: 20px 40px;
            .venue {
                color: $sunglow;
                font-size: 2rem;
                font-family: $amatic;
                transition: all 0.5s ease-in-out;
                &:hover {
                    color: white;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                }
            }
            .time {
                font-size: 1.5rem;
                font-family: $amatic;
                color: $maroon;
            }
            .blurb {
                text-align: left;
                font-size: 0.8rem;
            }
        }
        .buttons-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 150px;

            .details {
                height: 50px;
                width: 150px;
                background-color: transparent;
                margin-bottom: 20px;
                border: 2px solid $sunglow;
                color: $sunglow;
                transition: all 0.5s ease-in-out;
                &:hover {
                    background-color: $sunglow;
                    color: white;
                    transition: all 0.5s ease-in-out;
                }

            }
            .tickets {
                height: 50px;
                width: 150px;   
                border: 2px solid white;
                background-color: transparent;
                color: white;
                transition: all 0.5s ease-in-out;
                &:hover {
                    background-color: white;
                    color: black;
                    transition: all 0.5s ease-in-out;
                }          
            }
            .button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: $marker;
                &:hover {
                    text-decoration: none;
                }
            }
        }

    }

}