.App-header.header {
    font-family: $main-font;
    font-size: $main-font-size;
    padding: 0;
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: $header-height;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    top: 0;

    &.solid {
        background-color: $dark-jungle-green;
    }

    &.scrolled {
        background-color: $dark-jungle-green;
        transition: all 0.3s ease-in-out;
        height: $header-height-scrolled;
        -webkit-box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.6);
        box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.6);
    }
}