footer {
    font-family: $main-font;
    font-size: $main-font-size;
    .solid {
        background-color: $dark-jungle-green;
        min-height: 150px;
        padding: 30px;

        .admin-links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: $sunglow;
            padding-bottom: 20px;
            a {
                color: $sunglow;
                padding-bottom: 10px;
                transition: color 0.8s ease-in-out;
            }
            a:hover {
                color: $sunglow-lighter;
                text-decoration: none;
                transition: color 0.8s ease-in-out;
            }
        }
        .newsletter{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: white;
            font-family: $marker;
            font-size: 0.9rem;
        }
    }
    .image {
        background-image: url('images/Hero/brandon-mattingly.jpg');
        background-size: cover;
        height: 300px;

        .social-links {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            a {
                color: $maroon;
                transition: color 0.8s ease-in-out;
            }
            a:hover {
                color: $maroon-lighter;
                transition: color 0.8s ease-in-out;
            }
        }
    }
}