.main-nav--wrapper {
    height: 100%;

    .main-nav {
        height: 100%;

        .navbar-brand {
            height: 55%;
        }

        .navbar-collapse {
            @include media-breakpoint-down(sm) {
                margin-top: 20px;
                background-color: $dark-jungle-green-90;
            }
        }
    
        &--brand {
            height: 100%;
            transition: opacity 0.8s ease-in-out;
            opacity: 0.6;
            display: flex;

            &-image{
                height:100%;
            }
        }
        &--brand:hover {
            opacity: 0.9;
            transition: opacity 0.8s ease-in-out;
            //transition it
        }
        a.nav-link {
            color: white;
            opacity: 0.6;
            transition: opacity 0.8s ease-in-out;
        }
        a.nav-link:hover {
            color: white;
            opacity: 0.9;
            transition: opacity 0.8s ease-in-out;
        }
    }
}