.main-nav--wrapper {
  height: 100%; }
  .main-nav--wrapper .main-nav {
    height: 100%; }
    .main-nav--wrapper .main-nav .navbar-brand {
      height: 55%; }
    @media (max-width: 767.98px) {
      .main-nav--wrapper .main-nav .navbar-collapse {
        margin-top: 20px;
        background-color: rgba(14, 32, 36, 0.9); } }
    .main-nav--wrapper .main-nav--brand {
      height: 100%;
      transition: opacity 0.8s ease-in-out;
      opacity: 0.6;
      display: flex; }
      .main-nav--wrapper .main-nav--brand-image {
        height: 100%; }
    .main-nav--wrapper .main-nav--brand:hover {
      opacity: 0.9;
      transition: opacity 0.8s ease-in-out; }
    .main-nav--wrapper .main-nav a.nav-link {
      color: white;
      opacity: 0.6;
      transition: opacity 0.8s ease-in-out; }
    .main-nav--wrapper .main-nav a.nav-link:hover {
      color: white;
      opacity: 0.9;
      transition: opacity 0.8s ease-in-out; }

.App-header.header {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  padding: 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 80px; }

.hero-image {
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: ''; }
  .hero-image .text-logo {
    height: 80px; }
    @media (max-width: 767.98px) {
      .hero-image .text-logo {
        height: auto;
        max-width: 50vw; } }

footer {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem; }
  footer .solid {
    background-color: #0E2024;
    min-height: 150px;
    padding: 30px; }
    footer .solid .admin-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #FFC327;
      padding-bottom: 20px; }
      footer .solid .admin-links a {
        color: #FFC327;
        padding-bottom: 10px;
        transition: color 0.8s ease-in-out; }
      footer .solid .admin-links a:hover {
        color: #FFEEC4;
        text-decoration: none;
        transition: color 0.8s ease-in-out; }
    footer .solid .newsletter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      font-family: "Permanent Marker", cursive;
      font-size: 0.9rem; }
  footer .image {
    background-image: url("images/Hero/brandon-mattingly.jpg");
    background-size: cover;
    height: 300px; }
    footer .image .social-links {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly; }
      footer .image .social-links a {
        color: #CD224C;
        transition: color 0.8s ease-in-out; }
      footer .image .social-links a:hover {
        color: #FF2B5C;
        transition: color 0.8s ease-in-out; }

.text-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem; }
  .text-input label {
    width: 100%;
    margin: 0;
    padding: 10px; }
    .text-input label .text-input--wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .text-input label .text-input--wrapper .text-input--field {
        flex-grow: 1; }
      .text-input label .text-input--wrapper .text-input--icon {
        padding: 0 5px; }
      .text-input label .text-input--wrapper input {
        border: none; }
      .text-input label .text-input--wrapper input:focus {
        outline: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #28a745;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.under-construction {
  padding: 50px; }
