.main-nav--wrapper {
  height: 100%; }
  .main-nav--wrapper .main-nav {
    height: 100%; }
    .main-nav--wrapper .main-nav .navbar-brand {
      height: 100%;
      transition: opacity 0.8s ease-in-out;
      opacity: 0.9;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main-nav--wrapper .main-nav .navbar-brand:hover {
        opacity: 1;
        transition: opacity 0.8s ease-in-out; }
      .main-nav--wrapper .main-nav .navbar-brand--image {
        height: 25px;
        width: auto; }
    @media (max-width: 767.98px) {
      .main-nav--wrapper .main-nav .navbar-collapse {
        margin-top: 20px;
        background-color: rgba(14, 32, 36, 0.9); } }
    .main-nav--wrapper .main-nav a.nav-link {
      color: white;
      opacity: 0.8;
      transition: opacity 0.8s ease-in-out; }
    .main-nav--wrapper .main-nav a.nav-link:hover {
      color: white;
      opacity: 1;
      transition: opacity 0.8s ease-in-out; }

.App-header.header {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  padding: 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 80px;
  transition: all 0.3s ease-in-out;
  z-index: 2; }
  .App-header.header.scrolled {
    background-color: #0E2024;
    transition: all 0.3s ease-in-out;
    height: 60px;
    -webkit-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.6); }

.hero-image {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: ''; }
  @media (max-width: 767.98px) {
    .hero-image {
      height: 500px !important; } }
  .hero-image .intro-text {
    font-family: "Amatic SC", cursive, "Arial body";
    font-size: 1.5rem;
    margin-top: 20px; }
    @media (max-width: 767.98px) {
      .hero-image .intro-text {
        font-size: 1rem; } }
  .hero-image .text-logo {
    height: 60px; }
    @media (max-width: 767.98px) {
      .hero-image .text-logo {
        height: auto;
        max-width: 50vw; } }

footer {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem; }
  footer .solid {
    background-color: #0E2024;
    min-height: 150px;
    padding: 30px; }
    footer .solid .admin-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #FFC327;
      padding-bottom: 20px; }
      footer .solid .admin-links a {
        color: #FFC327;
        padding-bottom: 10px;
        transition: color 0.8s ease-in-out; }
      footer .solid .admin-links a:hover {
        color: #ffe29a;
        text-decoration: none;
        transition: color 0.8s ease-in-out; }
      footer .solid .admin-links .copyright {
        font-size: 0.6rem;
        margin-top: 10px; }
    footer .solid .newsletter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      font-family: "Permanent Marker", cursive, "Arial Header";
      font-size: 0.9rem; }
  footer .image {
    background-image: url("images/Hero/brandon-mattingly.jpg");
    background-size: cover;
    background-position: center;
    height: 300px; }
    footer .image .social-links {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      position: relative; }
      footer .image .social-links .social-link {
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.5s ease-in-out; }
        footer .image .social-links .social-link.showing {
          opacity: 1;
          transform: translateY(0px);
          transition: all 0.5s ease-in-out; }
      footer .image .social-links a {
        color: #CD224C;
        transition: color 0.8s ease-in-out; }
      footer .image .social-links a:hover {
        color: #FF2B5C;
        transition: color 0.8s ease-in-out; }

.text-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  border: 1px solid black; }
  .text-input label {
    width: 100%;
    margin: 0;
    padding: 10px; }
    .text-input label .text-input--wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .text-input label .text-input--wrapper .text-input--field {
        flex-grow: 1; }
      .text-input label .text-input--wrapper .text-input--icon {
        padding: 0 5px; }
      .text-input label .text-input--wrapper input {
        border: none; }
      .text-input label .text-input--wrapper input:focus {
        outline: none; }

.dtj-tip-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-family: "Permanent Marker", cursive, "Arial Header";
  transition: all 0.5s ease-in-out; }
  @media (max-width: 767.98px) {
    .dtj-tip-button {
      font-size: 0.7rem; } }
  .dtj-tip-button .hover {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-left: -25px;
    z-index: 0; }
  .dtj-tip-button .normal {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1; }
  .dtj-tip-button:hover {
    background-color: white;
    color: #0E2024;
    transition: all 0.5s ease-in-out;
    text-decoration: none; }
    .dtj-tip-button:hover .normal {
      opacity: 0;
      transition: all 0.5s ease-in-out; }
    .dtj-tip-button:hover .hover {
      opacity: 1;
      transition: all 0.5s ease-in-out; }

.text-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-family: "Permanent Marker", cursive, "Arial Header";
  transition: all 0.5s ease-in-out;
  background-color: transparent; }
  @media (max-width: 767.98px) {
    .text-button {
      font-size: 0.7rem; } }
  .text-button:hover {
    background-color: white;
    color: #0E2024;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    cursor: pointer; }
  .text-button:focus {
    outline: none; }

.soundcloud-player {
  width: 400px;
  height: 280px;
  padding: 20px;
  opacity: 1;
  transition: all 1s ease-in-out; }
  @media (max-width: 767.98px) {
    .soundcloud-player {
      height: 200px;
      width: 200px;
      padding: 10px 0 0 0; } }
  .soundcloud-player.player-hidden {
    height: 0px;
    width: 0px;
    opacity: 0;
    transition: all 1s ease-in-out; }
  .soundcloud-player iframe {
    -webkit-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.6); }

.event-summary {
  display: flex;
  align-items: center;
  justify-content: center; }
  .event-summary .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 200px;
    width: 100%; }
    .event-summary .wrapper .event-image {
      height: 100%;
      width: 180px; }
    .event-summary .wrapper .date {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFC327;
      height: 100%;
      font-size: 2rem;
      width: 200px;
      word-wrap: break-word;
      padding: 20px;
      font-family: "Permanent Marker", cursive, "Arial Header"; }

.privacy-policy .privacy-terms-text {
  margin-top: 160px;
  margin-bottom: 110px;
  text-align: left; }
  .privacy-policy .privacy-terms-text h1, .privacy-policy .privacy-terms-text h3 {
    font-family: "Permanent Marker", cursive, "Arial Header";
    margin-bottom: 20px; }
  .privacy-policy .privacy-terms-text p, .privacy-policy .privacy-terms-text li {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem; }

.homepage {
  background-color: white; }
  .homepage .about-row .about-column {
    padding: 8% 0; }
    .homepage .about-row .about-column .text-container {
      font-family: "Caveat", cursive, "Arial body";
      color: #859298;
      text-align: justify;
      height: 100%;
      padding: 0 15%; }
      @media (max-width: 991.98px) {
        .homepage .about-row .about-column .text-container {
          padding: 0 8%; } }
      .homepage .about-row .about-column .text-container .top-border {
        border-top: 1px solid #0E2024;
        padding-bottom: 20px; }
      .homepage .about-row .about-column .text-container h3 {
        text-align: end;
        font-family: "Permanent Marker", cursive, "Arial Header";
        font-size: 1.2rem;
        color: rgba(14, 32, 36, 0.9); }
    .homepage .about-row .about-column .image-container {
      background-image: url("images/t-shirts.jpg");
      background-size: cover;
      background-position: center;
      height: 100%; }
  .homepage .upcoming-shows {
    height: 500px;
    -webkit-box-shadow: 0px -22px 36px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -22px 36px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -22px 36px -27px rgba(0, 0, 0, 0.75);
    background-color: #0E2024;
    color: white;
    padding: 60px 0; }
    .homepage .upcoming-shows .events-wrapper {
      height: 100%; }
      .homepage .upcoming-shows .events-wrapper .events-scrollbox {
        height: 100%;
        overflow: scroll; }
  .homepage .hero-buttons {
    display: flex;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out; }
    .homepage .hero-buttons.buttons-showing {
      opacity: 1;
      transform: translateY(0px);
      transition: all 0.8s ease-in-out; }
    .homepage .hero-buttons .text-button {
      margin-right: 20px; }

.App {
  text-align: center; }

.under-construction {
  padding: 50px; }
