@import 'styles/_custom-bootstrap';
@import 'styles/_colors';
@import 'styles/fonts';

//components
@import 'components/MainNav/_MainNav';
@import 'components/Header/_Header';
@import 'components/HeroImage/_HeroImage';
@import 'components/Footer/_Footer';
@import 'components/TextInput/_TextInput';
@import 'components/TipJarButton/_TipJarButton';

//Defaults
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $green;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.under-construction {
  padding: 50px;
}