.main-nav--wrapper {
  height: 100%; }
  .main-nav--wrapper .main-nav {
    height: 100%; }
    .main-nav--wrapper .main-nav .navbar-brand {
      height: 100%;
      transition: opacity 0.8s ease-in-out;
      opacity: 0.9;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main-nav--wrapper .main-nav .navbar-brand:hover {
        opacity: 1;
        transition: opacity 0.8s ease-in-out; }
      .main-nav--wrapper .main-nav .navbar-brand--image {
        height: 25px;
        width: auto; }
    @media (max-width: 767.98px) {
      .main-nav--wrapper .main-nav .navbar-collapse {
        margin-top: 20px;
        background-color: rgba(14, 32, 36, 0.9); } }
    .main-nav--wrapper .main-nav a.nav-link {
      color: white;
      opacity: 0.8;
      transition: opacity 0.8s ease-in-out; }
    .main-nav--wrapper .main-nav a.nav-link:hover {
      color: white;
      opacity: 1;
      transition: opacity 0.8s ease-in-out; }

.App-header.header {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  padding: 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 80px;
  transition: all 0.3s ease-in-out;
  z-index: 2; }
  .App-header.header.scrolled {
    background-color: #0E2024;
    transition: all 0.3s ease-in-out;
    height: 60px;
    -webkit-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.6); }

.hero-image {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: ''; }
  @media (max-width: 767.98px) {
    .hero-image {
      height: 300px; } }
  .hero-image .intro-text {
    font-family: "Amatic SC", cursive;
    font-size: 1.5rem;
    margin-top: 20px; }
    @media (max-width: 767.98px) {
      .hero-image .intro-text {
        font-size: 1rem; } }
  .hero-image .text-logo {
    height: 60px; }
    @media (max-width: 767.98px) {
      .hero-image .text-logo {
        height: auto;
        max-width: 50vw; } }

footer {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem; }
  footer .solid {
    background-color: #0E2024;
    min-height: 150px;
    padding: 30px; }
    footer .solid .admin-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #FFC327;
      padding-bottom: 20px; }
      footer .solid .admin-links a {
        color: #FFC327;
        padding-bottom: 10px;
        transition: color 0.8s ease-in-out; }
      footer .solid .admin-links a:hover {
        color: #ffe29a;
        text-decoration: none;
        transition: color 0.8s ease-in-out; }
      footer .solid .admin-links .copyright {
        font-size: 0.6rem;
        margin-top: 10px; }
    footer .solid .newsletter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      font-family: "Permanent Marker", cursive;
      font-size: 0.9rem; }
  footer .image {
    background-image: url("images/Hero/brandon-mattingly.jpg");
    background-size: cover;
    background-position: center;
    height: 300px; }
    footer .image .social-links {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      position: relative; }
      footer .image .social-links .social-link {
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.5s ease-in-out; }
        footer .image .social-links .social-link.showing {
          opacity: 1;
          transform: translateY(0px);
          transition: all 0.5s ease-in-out; }
      footer .image .social-links a {
        color: #CD224C;
        transition: color 0.8s ease-in-out; }
      footer .image .social-links a:hover {
        color: #FF2B5C;
        transition: color 0.8s ease-in-out; }

.text-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  border: 1px solid black; }
  .text-input label {
    width: 100%;
    margin: 0;
    padding: 10px; }
    .text-input label .text-input--wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .text-input label .text-input--wrapper .text-input--field {
        flex-grow: 1; }
      .text-input label .text-input--wrapper .text-input--icon {
        padding: 0 5px; }
      .text-input label .text-input--wrapper input {
        border: none; }
      .text-input label .text-input--wrapper input:focus {
        outline: none; }

.dtj-tip-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-family: "Permanent Marker", cursive;
  transition: all 0.5s ease-in-out; }
  @media (max-width: 767.98px) {
    .dtj-tip-button {
      font-size: 0.7rem; } }
  .dtj-tip-button .hover {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-left: -25px;
    z-index: 0; }
  .dtj-tip-button .normal {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1; }
  .dtj-tip-button:hover {
    background-color: white;
    color: #0E2024;
    transition: all 0.5s ease-in-out;
    text-decoration: none; }
    .dtj-tip-button:hover .normal {
      opacity: 0;
      transition: all 0.5s ease-in-out; }
    .dtj-tip-button:hover .hover {
      opacity: 1;
      transition: all 0.5s ease-in-out; }

.homepage {
  background-color: white; }
  .homepage .text-container {
    color: #859298;
    padding: 80px; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #28a745;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.under-construction {
  padding: 50px; }
